# Machine leaning model

In [2]:
# Aim is to predict the price range and how high the price is.

In [13]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sn

In [14]:
train = pd.read_csv("train.csv")

In [16]:
train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [17]:
train.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [23]:
train.shape

(2000, 21)

In [18]:
#Selecting the target variable
y = train.price_range

In [21]:
mobile_features=["battery_power","int_memory","ram","n_cores"]
X = train[mobile_features]

In [32]:
X.describe()

       battery_power   int_memory          ram      n_cores
count    2000.000000  2000.000000  2000.000000  2000.000000
mean     1238.518500    32.046500  2124.213000     4.520500
std       439.418206    18.145715  1084.732044     2.287837
min       501.000000     2.000000   256.000000     1.000000
25%       851.750000    16.000000  1207.500000     3.000000
50%      1226.000000    32.000000  2146.500000     4.000000
75%      1615.250000    48.000000  3064.500000     7.000000
max      1998.000000    64.000000  3998.000000     8.000000

In [37]:
#build a model
from sklearn.tree import DecisionTreeRegressor
mobile_model = DecisionTreeRegressor(random_state=1)
#fit model
mobile_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [38]:
print("Predictions:")
print(X.head())
print(mobile_model.predict(X.head()))

Predictions:
   battery_power  int_memory   ram  n_cores
0            842           7  2549        2
1           1021          53  2631        3
2            563          41  2603        5
3            615          10  2769        6
4           1821          44  1411        2
[1. 2. 2. 2. 1.]

In [39]:
#model validation
from sklearn.metrics import mean_absolute_error
price_range_predict = mobile_model.predict(X)
mean_absolute_error(y, price_range_predict)

0.0

In [44]:

from sklearn.model_selection import train_test_split

train_X,val_X, train_y,val_y = train_test_split(X,y,random_state = 0)
#define model
mobile_model = DecisionTreeRegressor()
#fit model
mobile_model.fit(train_X,train_y)

val_pred = mobile_model.predict(val_X)
print(mean_absolute_error(val_y, val_pred))

0.242